{% extends "chewapp/BasicAdminTemplate.html"%}

{% block content %}

    <div class="container" style="overflow-y: scroll; max-height:60vh;" >
        {% if categories %}
            {% for category in categories %}
                <div class="row pt-3 pb-3 border-bottom">
                    <div class="col-7 align-self-center">
                        <h3>{{ category.Name }}</h3>
                    </div>
                    <div class="col-5">
                        <div class="d-grid gap-2 mr-1" style="float:right">
                          <button class="btn btn-outline-primary" type="button">
                            <a href = "{% url 'managerCategoryModify' CID=category.CID %}" class="text-decoration-none text-reset">✏️  Modify </a>
                          </button>
                          <button 
                                class="btn btn-outline-danger" 
                                type="button" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal"  
                                data-bs-id="{{ category.CID }}" 
                                data-bs-name="{{ category.Name }}">🗑   Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h1>No Search Queries Found</h1>
                </div>
            </div>
        {% endif %}
    </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to delete this category?</h5>
        <div class="alert alert-secondary invisible" role="alert" id="modalAlert">
          Deleting...
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="id" id="deleteID" value="">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {
   
    var button = event.relatedTarget
    
    var id = button.getAttribute('data-bs-id')
    console.log(id)
    var name = button.getAttribute('data-bs-name')
    
    var modalTitle = deleteModal.querySelector('.modal-title')
    let idInput = deleteModal.querySelector('.modal-footer input')

    modalTitle.textContent = 'Delete category ' + name + '?'
    idInput.value = id

    })

    function getCookie(c_name)
    {
        var c_value = document.cookie;
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $(document).ready( function () {
      $('#deleteButton').click(function(){
          // url of the data that is to be delete
          $('#modalAlert').removeClass('invisible')
          $.ajax({
            url : "{% url 'managerCategory' %}modify/"+ $('#deleteID').val(),
            headers: { "X-CSRFToken": getCookie("csrftoken")},
            type : 'DELETE',
            success : function(data){
              console.log("yay")
              $('#modalAlert').removeClass('alert-secondary')
              $('#modalAlert').addClass('alert-success')
              $('#modalAlert').html('Deleted Successfully')
              setTimeout(() => { location.reload(); }, 1000);              
            },
            error: function(xhr, error){
              $('#modalAlert').removeClass('alert-secondary')
              $('#modalAlert').addClass('alert-danger')
              $('#modalAlert').html('Failed to delete ' + error)
            }
          });
      });
    });
</script>

{% endblock %}
