{% extends "chewapp/BasicAdminTemplate.html"%}
{% comment %} 
Description: 
Shows the average length for all customers, and indiviusual customer lengths.


Expected Context:
"username": "admin101",
"profile": "admin",
"tabs": getTabsOwner(request, "Length between visits"),
"activeTab": "Length between visits",
"AverageFrequency": {"Email": "person1@gmail.com", "AvgFrequency": 10}],
"Users": Users,
"SearchTerm": SearchTerm,

{% endcomment %}

{% block content %}

<div class="row mt-3">
    <div class="col text-center">
        <h5>Average Frequency: {{AverageFrequency}}</h5>
    </div>
</div>
<div class="row border-top pt-2 mt-2">
    <form action="" method="get">
        <div class="col input-group">
            {% if SearchTerm is not None %}
            <a class="btn btn-outline-danger" href="{% url "ownerLength"%}">
                Cancel
            </a>
            {% endif %}
                <input type="text" class="form-control" name="SearchTerm" id="SearchBox" placeholder="Search" {% if SearchTerm is not None %}value="{{SearchTerm}}"{% endif %}>
                <button class="btn btn-outline-secondary" type="submit">
                    Search
                </button>
    
            </div>
        </form>
</div>
<div class="row "id="DontOverScroll">
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col" class="text-end">Frequency</th>
              </tr>
            </thead>
            <tbody>
                {% for User in Users %}
                <tr>
                  <th scope="row">{{User.Email}}</th>
                  <td class="text-end">{{User.AvgFrequency}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2" class="text-center">No results found</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>


{% endblock content %}